# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/HELP.md
backend/*.log

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/*.log

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Docs
docs/
*.md
